
<div class="userInfo">
    <h3>User info</h3>
    <p>Name: {{user.name}}</p>
    <p>username: {{user.username}}</p>
    <p>email: {{user.email}}</p>
    <a href="/profile/user/edit"><button type="button" class="profile-edit-btn btn btn-primary">Edit</button></a>
</div>

<br>



