@import "../../node_modules/css-star-rating/scss/star-rating";


body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a{
  color: #00B7FF;
}

.container {
  margin-top: 20px;
}

.blue {
  background: blue;
}